*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: turquoise;
}

button{
    height: 50px;
    width: 200px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    color: #222;
    font-size: 20px;
    text-transform:capitalize;
    letter-spacing: 2px;
    font-weight: bold;
   
}
button:hover{
    background-color: #ddd;
    transition: background-color .2s ease-out;

}
button:active{
    transform: scale(.98);
}